<div class="conatiner-fluid">
    <div class="main-section">
        <div class="card">
            <div class="card-body">
                <div class="title">
                    <h3>Login</h3>
                    <hr>
                </div>
                <form [formGroup]="loginForm">
                    <div class="mb-2">
                        <label class="form-label">Email-Id</label>
                        <input type="text" class="form-control" placeholder="Enter Email-Id"
                        formControlName="emailId">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Password</label>
                        <input type="text" class="form-control" placeholder="Enter Password"
                        formControlName="password">
                    </div>
                    <div class="forget p-2">
                        <a routerLink="/forget-password">Forget Password.?</a>
                    </div>
                    <div class="create-account mb-4 p-2">
                        <a routerLink="/register">Create New Account.?Click here</a>
                    </div>
                    <div class="login-button d-grid mx-auto col-6">
                        <button class="btn btn-primary mt-2" (click)="loginUser()">Login</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>