<div class="conatiner-fluid">
    <div class="main-section">
        <div class="card">
            <div class="card-body">
                <div class="title">
                    <h3>Forget Password</h3>
                    <hr>
                </div>
                <form [formGroup]="forgetForm">
                    <span class="text-danger h5">*Note:- Please enter valid emailId for getting reset password link. If
                        emailId not match then password reset link not getting.</span>
                    <div class="mb-2">
                        <label class="form-label">Email-Id</label>
                        <input type="text" class="form-control" placeholder="Enter Email-Id"
                        formControlName="emailId">
                    </div>
                    <div class="login-button d-grid mx-auto col-6">
                        <button type="button" class="btn btn-primary mt-2" (click)="restPasswordLinkSend()" >Get Password Link</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>